.register-terms-main-wrapper {
    padding: 40px 0 100px;
    h2, h5 {
        // font-size: 4.5vw;
        font-weight: 700;
        margin-bottom: 0;
        margin-left: 12vw;
        margin-right: 12vw;
    }

    h2 {
        margin-bottom: 50px;
    }

    h5 {
        margin-top: 0;
    }

    .register-terms-wrapper {
        h2 {
            color: #000;
            font-weight: 700;
            // font-size: 2vw;
            margin-top: 0;
        }
        .register-terms-dropdown {
            border-radius: 10px;
            color: #fff;
            padding: 12px 35px;
            font-size: 2vw;
            font-weight: 700;
            // cursor: pointer;
            margin: 3vw 12vw 2vw;
            display: flex;
            justify-content: space-between;
            align-items: center;

            p {
                margin: 0;
                font-size: 24px;
            }

            div {
                display: inline-block;
                width: 1.5vw;
                img {
                    width: 100%;
                    height: auto;
                }
            }
        }

        .register-terms-dropdown-section {
            cursor: pointer;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-left: 12vw;
            margin-right: 12vw;
            margin-bottom: 30px;

            h5 {
                margin-left: 0;
                margin-right: 0;
            }

            div {
                display: inline-block;
                width: 1.5vw;
                img {
                    width: 100%;
                    height: auto;
                }
            }
        }

        ul, ol {
            list-style: auto;
            margin: 0 12vw 50px;
            li {
                margin: 12px;
                font-size: 18px;
            }
            .register-term-children {
                margin-left: 2vw;
                ul, ol {
                    margin: 0;
                }
            }
        }

        .register-terms-content-subtitle {
            margin: 12px 12vw;
            font-size: 18px;
        }

        .register-terms-lower-section {
            padding: 40px 0;
            margin-bottom: 40px;
            color: #fff;

            h2 {
                color: #fff;
            }
        }
    }
}