.pengumuman-wrapper {
    background-color: #d8fff8;
    padding: 100px 8vw;
    position: relative;

    .curve-up {
        position: absolute;
        top: 0;
        left: 0;
        // img {
        //     height: 450px;
        //     width: auto;
        // }
    }

    .curve-down {
        position: absolute;
        bottom: 0;
        right: 0;
        // img {
        //     height: 450px;
        //     width: auto;
        // }
    }

    .pengumuman-filter {
        background-color: #fff;
        opacity: 0.8;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }

    .pengumuman-content {
        position: relative;
        display: flex;
        justify-content: space-around;

        .pengumuman-content-text {
            width: 45%;
            align-self: center;
        }

        .pengumuman-content-hero img {
            height: 450px;
            width: auto;
        }

        h2 {
            // font-size: 4.5vw;
            color: var(--main-blue);
            margin-top: 0;
            // margin: 0 auto 4.5vw;
        }
    
        p {
            color: var(--main-blue);
            // font-size: 2vw;
            margin: 0;
        }

        .home-register-button {
            display: flex;
            justify-content: space-between;
            margin-top: 47px;

            a {
                background-color: var(--main-blue);
                padding: 11px 20px;
                border-radius: 10px;
                width: 20%;
                color: #fff;
                font-weight: 400;
                text-align: center;
            }

            button:nth-child(2) {
                margin: 0 10px;
            }
            
        }
    }
}

.pengumuman-page-wrapper {
    display: grid;
    grid-template-columns: 1fr 100% 1fr;
    padding: 120px;
    color: var(--main-green);

    img {
        width: 100%;
    }

    .pengumuman-page-note {
        background-color: var(--main-light-blue);
        color: #fff;
        padding: 30px;
        border-radius: 10px;

        ul {
            margin-bottom: 0;
        }

        p {
            margin: 0;
        }
    }

    div:nth-child(2) {
        padding: 0 50px;
    }

    ul {
        list-style: auto;
        padding-left: 1rem;
        li {
            font-size: 18px;
        }
    }

    h2 {
        color: var(--main-blue);
    }

    h4 {
        color: var(--main-green);
    }

    h5 {
        color: var(--main-green);
    }
}

.pengumuman-produksi-wrapper {
    background-color: #ffffff;
    color: var(--main-blue);

    h2 {
        color: var(--main-darker-yellow);
    }

    h4 {
        color: var(--main-blue);
    }

    h5 {
        color: var(--main-blue);
    }

    .label-table {
        margin-bottom: 0;
    }

    .pengumuman-page-note {
        background-color: var(--main-darker-yellow);
    }
}
