:root {
  --main-blue: #3884c2;
  --main-light-blue: #5495CA;
  --main-darker-blue: #1F404F;
  --main-light-green: #3ab59e;
  --main-dark-green: #39887B;
  --main-yellow: #ffa200;
}

.app {
  font-family: 'Signika', sans-serif;
  overflow-x: hidden;

  h2 {
    font-size: 44px;
  }

  p {
    font-size: 18px;
  }

  a {
    color: #fff;
    text-decoration: unset;
    font-family: 'Signika', sans-serif;
  }

  a:hover {
    color: var(--main-darker-blue) !important;
  }

  button {
    font-family: 'Signika', sans-serif;
    border: unset;
  }

  .green-button {
    background-color: var(--main-light-green);
    color: #fff;
    a:hover {
      color: #fff !important;
    }
  }

  .green-button:hover {
    box-shadow: 0 6px 6px 0 var(--main-dark-green), 0 0 6px 0 var(--main-dark-green);
  }
}

// .App {
//   text-align: center;
// }

// .App-logo {
//   height: 40vmin;
//   pointer-events: none;
// }

// @media (prefers-reduced-motion: no-preference) {
//   .App-logo {
//     animation: App-logo-spin infinite 20s linear;
//   }
// }

// .App-header {
//   background-color: #282c34;
//   min-height: 100vh;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   font-size: calc(10px + 2vmin);
//   color: white;
// }

// .App-link {
//   color: #61dafb;
// }

// @keyframes App-logo-spin {
//   from {
//     transform: rotate(0deg);
//   }
//   to {
//     transform: rotate(360deg);
//   }
// }
