.component-carousel-wrapper {
    .carousel.carousel-slider .control-arrow {
        opacity: 1;
        background: unset;
    }

    .carousel.carousel-slider .control-arrow:hover {
        background: unset;
    }

    .carousel .control-arrow:before, .carousel.carousel-slider .control-arrow:before {
        border: unset;
        content: url('../../../../assets/img/icons/ic-arrow-component-90.png');
    }

    .carousel .control-next.control-arrow:before {
        // transform: rotate(180deg);
        z-index: 9;
    }

    .carousel .control-prev.control-arrow:before {
        transform: rotate(180deg);
        z-index: 9;
    }

    .carousel .control-next.control-arrow {
        right: 0;
        background-color: #fff !important;
        z-index: 9;
    }

    .carousel .control-prev.control-arrow {
        left: 0;
        background-color: #fff;
        z-index: 9;
    }

    .carousel .slide {
        height: fit-content;
        object-fit: cover;
    }
}

// .carousel .slide img {
//     height: auto;
//     object-fit: initial;
// }
